<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="COMExpress" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<appSettings>
		<add key="Authentication" value="Windows"/>
		<add key="MTSTransaction" value="False"/>
		<!-- <add key="PortalServer" value="http://localhost/DataPortal/DataPortal.rem" /> -->
		<!-- <add key="ServicedPortalServer" value="http://localhost/DataPortal/ServicedDataPortal.rem" /> -->
		<!-- <add key="DefaultBatchQueueServer" value="tcp://localhost:5050/cslabatch/batchqueue.rem" /> -->
	</appSettings>
	<COMExpress>
		<add key="connectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<add key="dataadapterType" value="System.Data.SqlClient.SqlDataAdapter, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<add key="commandType" value="System.Data.SqlClient.SqlCommand, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<add key="transactionType" value="System.Data.SqlClient.SqlTransaction, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<add key="parameterType" value="System.Data.SqlClient.SqlParameter, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<add key="SQLleftMark" value="["/>
		<add key="SQLRightMark" value="]"/>
		<add key="SQLParameterMark" value="@"/>
		<add key="DataSource" value="Data Source=localhost;Initial Catalog=CEVATEST;User ID=sa;Password=gulishan2004;"/>
		<!-- 16: Chaos ; 4096: ReadCommitted ; 256: ReadUncommitted ; 65536: RepeatableRead ; 1048576: Serializable ; -1: Unspecified /> -->
		<add key="transactionIsolationLevel" value="4096"/>
		<add key="TrackIndividualProperty" value="False"/>
		<add key="TrackConCurrentUpdate" value="True"/>
		<add key="CONCurrentErrorMsg" value="Another user has changed this record.
Please refresh your records and edit it again."/>
		<add key="UseStoredProcedure" value="True"/>
		<add key="NavigationString" value="{0} of {1}"/>
		<add key="validatorType" value="YT.BusinessObject.ValidationRules"/>
		<!-- 0: do not log ; 1: log to NT system event log ; 2: log to local text file defined in EventLogFile section /> -->
		<add key="EventLogType" value="0"/>
		<add key="EventLogFile" value="c:\YT.Log"/>
		<add key="CheckInvalidLookupValue" value="False"/>
		<add key="SaveByParent" value="True"/>
		<add key="NewAfterNew" value="True"/>
		<add key="FormLayoutActive" value="False"/>
		<add key="FormLayoutFolder" value="D:\schmidt\projects\CEVA\SVN\code\PC\temp\UI\formlayouts\"/>
		<add key="FormLayoutCategories" value="appearance,layout,behavior"/>
		<add key="LogEntryForUserAction" value="False"/>
		<add key="MaximumRecords" value="1000"/>
	</COMExpress>
</configuration>
