<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="COMExpress" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="Authentication" value="Windows"/>
    <add key="MTSTransaction" value="False"/>
    <add key="TerminalID"   value="111"/>
    <add key="DC_CODE"  value="SHA"/>
    <!--add key="Warehouse"  value="WH00000001"/-->
    <add key="RFlog"  value="RFlog.txt"/>
    <!-- <add key="PortalServer" value="http://localhost/DataPortal/DataPortal.rem" /> -->
    <!-- <add key="ServicedPortalServer" value="http://localhost/DataPortal/ServicedDataPortal.rem" /> -->
    <!-- <add key="DefaultBatchQueueServer" value="tcp://localhost:5050/cslabatch/batchqueue.rem" /> -->
  </appSettings>
  <COMExpress>
    <add key="CommandTimeout" value="60"/>
    <add key="connectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add key="dataadapterType" value="System.Data.SqlClient.SqlDataAdapter, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add key="commandType" value="System.Data.SqlClient.SqlCommand, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add key="transactionType" value="System.Data.SqlClient.SqlTransaction, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add key="parameterType" value="System.Data.SqlClient.SqlParameter, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add key="SQLleftMark" value="["/>
    <add key="SQLRightMark" value="]"/>
    <add key="SQLParameterMark" value="@"/>

    <!--SQLFromTableOption: None(Default),NoLock-->
    <add key="SQLFromTableOption" value="NOLOCK" />


    <add key="DataSource" value="Data Source=10.10.20.162;Initial Catalog=SWSTIS;User ID=sa;Password=sws123!@#;"/>
    <!--add key="DataSource" value="Data Source=43.82.80.139;Initial Catalog=SWSSIT2;User ID=sa;Password=sws123!@#;"/-->
    <!--add key="DataSource" value="Data Source=43.82.94.83;Initial Catalog=sws;User ID=sa;Password=c35;"/-->
	  <!--<add key="DataSource" value="Data Source=server2;Initial Catalog=SWS;User ID=sa;Password=c35;"/>-->
	  <!--<add key="DataSource" value="Data Source=server2\sql2005;Initial Catalog=SWSDC1;User ID=sa;Password=c35;"/>-->
    <!--<add key="DataSource" value="Data Source=lfish_ntbk;Initial Catalog=SWS;User ID=sa;Password=c35;"/>-->
    <!-- 16: Chaos ; 4096: ReadCommitted ; 256: ReadUncommitted ; 65536: RepeatableRead ; 1048576: Serializable ; -1: Unspecified /> -->
    <add key="transactionIsolationLevel" value="4096"/>
    <add key="TrackIndividualProperty" value="False"/>
	  
	  <!--TrackConCurrentUpdate Generated by ComExpress-->
    <add key="TrackConCurrentUpdate" value="True"/>

	  <!-- TrackConCurrentDelete for ConCurrent checking ,add by YU -->
	  <add key="TrackConCurrentDelete" value="True" />
	  <!-- Pass current user to procedure ,add by YU -->
	  <add key="PassUserToProcedureUpdate" value="False" />
	  <add key="PassUserToProcedureDelete" value="True" />
	  <!--<add key="PassUserParameterName" value="@stroptby" />-->
	  <!--PassUserParameter's type default nvarchar(50)-->	  
	  
    <add key="CONCurrENTERrorMsg" value="Another user has changed this record.
Please refresh your records and edit it again."/>
    <add key="UseStoredProcedure" value="True"/>
    <add key="NavigationString" value="{0} of {1}"/>
    <add key="validatorType" value="SWS.BusinessObject.ValidationRules"/>
    <!-- 0: do not log ; 1: log to NT system event log ; 2: log to local text file defined in EventLogFile section /> -->
    <add key="EventLogType" value="2"/>
    <add key="EventLogFile" value="c:\SWS.Log"/>
    <add key="CheckInvalidLookupValue" value="False"/>
    <add key="SaveByParent" value="False"/>
    <add key="NewAfterNew" value="True"/>
    <add key="GridReadOnly" value="True"/>
    <add key="FormLayoutActive" value="False"/>
    <add key="FormLayoutFolder" value="E:\Data\Offices\SHA\PreSales\Sony\Source\PC\UI\formlayouts\"/>
    <add key="FormLayoutCategories" value="appearance,layout,behavior"/>
    <add key="LogEntryForUserAction" value="False"/>
    <add key="MaximumRecords" value="500"/>
    <add key="TrackConCurrentDelete" value="True"/>
  </COMExpress>
  <system.diagnostics>
    <sources>
      <!-- 本部分定义 My.Application.Log 的登录配置-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- 取消以下部分的注释，以写入应用程序事件日志-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- 取消以下部分的注释，并用应用程序名替换 APPLICATION_NAME，以写入应用程序事件日志-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>
