IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[stp_I_clsdnhdr]') AND type in (N'P', N'PC'))
DROP PROCEDURE [stp_I_clsdnhdr]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[stp_I_clsdnhdr]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [stp_I_clsdnhdr]( 
	@dc_code nvarchar(10),
	@dn_no nvarchar(20),
	@description nvarchar(50),
	@own_code nvarchar(10),
	@wh_code nvarchar(10),
	@due_date datetime,
	@bch_no nvarchar(10),
	@doc_type nchar(3),
	@source nchar(3),
	@stat_type nchar(3),
	@have_tag nchar(1),
	@ref_no nvarchar(20),
	@status_code nchar(5),
	@status_trk nchar(5),
	@imp_dtime datetime,
	@plant nchar(4),
	@city_from nvarchar(10),
	@deal_from nvarchar(10),
	@city_to nvarchar(10),
	@bill_to nvarchar(10),
	@bill_name nvarchar(50),
	@bill_person nvarchar(50),
	@bill_addr nvarchar(100),
	@bill_tel nvarchar(30),
	@deal_to nvarchar(10),
	@deal_name nvarchar(50),
	@deal_person nvarchar(50),
	@deal_tel nvarchar(30),
	@carr_code nvarchar(10),
	@method nvarchar(50),
	@unloading_address nvarchar(100),
	@instruction nvarchar(50),
	@route nvarchar(50),
	@point nvarchar(50),
	@condition nvarchar(50),
	@exp_status int,
	@close_auto bit,
	@archived bit,
	@print_by nvarchar(20),
	@print_counter int,
	@print_dtime datetime,
	@opt_by nvarchar(20),
	@opt_dtime datetime,
	@start_dtime datetime,
	@end_dtime datetime,
	@remark ntext,
	@opt_timestamp timestamp output
)
as 
begin
	insert into [dbo].[dnhdr]( 
		dc_code,
		dn_no,
		[description],
		own_code,
		wh_code,
		due_date,
		bch_no,
		doc_type,
		source,
		stat_type,
		have_tag,
		ref_no,
		status_code,
		status_trk,
		imp_dtime,
		plant,
		city_from,
		deal_from,
		city_to,
		bill_to,
		bill_name,
		bill_person,
		bill_addr,
		bill_tel,
		deal_to,
		deal_name,
		deal_person,
		deal_tel,
		carr_code,
		method,
		unloading_address,
		instruction,
		route,
		point,
		condition,
		exp_status,
		close_auto,
		archived,
		print_by,
		print_counter,
		print_dtime,
		opt_by,
		opt_dtime,
		start_dtime,
		end_dtime,
		remark)
	values(
		@dc_code,
		@dn_no,
		@description,
		@own_code,
		@wh_code,
		@due_date,
		@bch_no,
		@doc_type,
		@source,
		@stat_type,
		@have_tag,
		@ref_no,
		@status_code,
		@status_trk,
		@imp_dtime,
		@plant,
		@city_from,
		@deal_from,
		@city_to,
		@bill_to,
		@bill_name,
		@bill_person,
		@bill_addr,
		@bill_tel,
		@deal_to,
		@deal_name,
		@deal_person,
		@deal_tel,
		@carr_code,
		@method,
		@unloading_address,
		@instruction,
		@route,
		@point,
		@condition,
		@exp_status,
		@close_auto,
		@archived,
		@print_by,
		@print_counter,
		@print_dtime,
		@opt_by,
		@opt_dtime,
		@start_dtime,
		@end_dtime,
		@remark
	)
	select @opt_timestamp = CONVERT(TIMESTAMP, @@DBTS)
	
	
end
' 
END
GO
