IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[stp_SL_clsOPERATOR]') AND type in (N'P', N'PC'))
DROP PROCEDURE [stp_SL_clsOPERATOR]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[stp_SL_clsOPERATOR]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [stp_SL_clsOPERATOR]
as       ----取得clsOPERATOR的一个列表
begin
	select top 1000 user_code,user_name,password,STCD,allowlogin,isadmin,title,tel,fax,mobile,email,create_date,update_date,opt_by,opt_dtime,opt_timestamp
		from [dbo].[OPERATOR]
end
' 
END
GO
