/****** Object:  StoredProcedure [dbo].[stp_D_clsdnhdr02]    Script Date: 08/15/2011 10:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_D_clsdnhdr02](
	@dc_code nvarchar(10),
	@dn_no nvarchar(20),
	@opt_timestamp timestamp = NULL ,
	@stroptby nvarchar(50) = NULL
)
as
begin
	exec stp_D_clsdnhdr
		@dc_code = @dc_code,
		@dn_no = @dn_no,
		@opt_timestamp = @opt_timestamp,
		@stroptby = stroptby

end
GO
