/****** Object:  StoredProcedure [dbo].[stp_I_clsTRLOG02]    Script Date: 08/15/2011 10:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_I_clsTRLOG02]( 
	@log_id bigint output,
	@trans_type nchar(3),
	@cmd_type nchar(3),
	@doc_no nvarchar(24),
	@LINENUM nchar(4),
	@STCD nvarchar(6),
	@ITEMNO nvarchar(24),
	@ITEM_DESC nvarchar(60),
	@BANTCH nvarchar(24),
	@QTY numeric(14,4),
	@status nvarchar(50),
	@reason nvarchar(50),
	@reasonDesc VarChar(255),
	@OPT_BY nvarchar(50),
	@OPT_ADDR nvarchar(50),
	@OPT_DATE datetime,
	@OPT_TIMESTAMP timestamp output
)
as 
begin
exec stp_I_clsTRLOG
	@log_id = @log_id output,
	@trans_type = @trans_type,
	@cmd_type = @cmd_type,
	@doc_no = @doc_no,
	@LINENUM = @LINENUM,
	@STCD = @STCD,
	@ITEMNO = @ITEMNO,
	@ITEM_DESC = @ITEM_DESC,
	@BANTCH = @BANTCH,
	@QTY = @QTY,
	@status = @status,
	@reason = @reason,
	@reasonDesc = @reasonDesc,
	@OPT_BY = @OPT_BY,
	@OPT_ADDR = @OPT_ADDR,
	@OPT_DATE = @OPT_DATE,
	@OPT_TIMESTAMP = @OPT_TIMESTAMP output
end
GO
