/****** Object:  StoredProcedure [dbo].[stp_S_clstasklist_clsdnhdrRelated]    Script Date: 08/15/2011 10:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_S_clstasklist_clsdnhdrRelated](
	@OLD___dc_code nvarchar(10),
	@OLD___wh_code nvarchar(10),
	@OLD___dn_no nvarchar(20)
)
as               ----根据clsdnhdr的关联字段获得clstasklist的列表
begin
	select dc_code,wh_code,task_id,bch_no,dn_no,assigned_opt,bin_area,bin_code,sku_no,qty,type,status_code,close_auto,print_by,print_counter,print_dtime,locked,opt_by,opt_dtime,start_dtime,end_dtime,opt_timestamp
		from [dbo].[tasklist]
		where 	dc_code = @OLD___dc_code and
			wh_code = @OLD___wh_code and
			dn_no = @OLD___dn_no 
end
GO
