/****** Object:  StoredProcedure [dbo].[stp_U_clstasklist]    Script Date: 08/15/2011 10:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_U_clstasklist]( 
	@OLD___task_id nvarchar(20),
	@OLD___bch_no nvarchar(20),
	@OLD___dn_no nvarchar(20),
	@OLD___assigned_opt nvarchar(20),
	@OLD___dc_code nvarchar(10),
	@task_id nvarchar(20),
	@bch_no nvarchar(20),
	@dn_no nvarchar(20),
	@assigned_opt nvarchar(20),
	@bin_area nvarchar(10),
	@bin_code nvarchar(10),
	@opt_by nvarchar(20),
	@opt_dtime datetime,
	@start_dtime datetime,
	@end_dtime datetime,
	@opt_timestamp timestamp output,
	@dc_code nvarchar(10),
	@status_code nchar(5)
)
as           ----更新
begin
	if (isnull(convert(bigint, @opt_timestamp),0)<>0)
	begin
		declare @newstamp bigint
		select @newstamp=convert(bigint, opt_timestamp) from  [dbo].[tasklist]
		where task_id = @OLD___task_id and
		bch_no = @OLD___bch_no and
		dn_no = @OLD___dn_no and
		assigned_opt = @OLD___assigned_opt and
		dc_code = @OLD___dc_code 
		if (isnull(@newstamp,0)=0)
			return
		if (@newstamp != isnull(convert(bigint, @opt_timestamp),0))
		begin
			raiserror(51000, 16, 1) with nowait
			--rollback transaction
			return
		end
	end
	update [dbo].[tasklist] set 
		task_id = @task_id,
		bch_no = @bch_no,
		dn_no = @dn_no,
		assigned_opt = @assigned_opt,
		bin_area = @bin_area,
		bin_code = @bin_code,
		opt_by = @opt_by,
		opt_dtime = @opt_dtime,
		start_dtime = @start_dtime,
		end_dtime = @end_dtime,
		dc_code = @dc_code,
		status_code = @status_code
		where task_id = @OLD___task_id and
		bch_no = @OLD___bch_no and
		dn_no = @OLD___dn_no and
		assigned_opt = @OLD___assigned_opt and
		dc_code = @OLD___dc_code 

	select @opt_timestamp = CONVERT(TIMESTAMP, @@DBTS)
	
	
end
GO
