/****** Object:  StoredProcedure [dbo].[stp_D_clsdnlin02]    Script Date: 08/15/2011 10:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_D_clsdnlin02](
	@dc_code nvarchar(10),
	@dn_no nvarchar(20),
	@row_id nchar(5),
	@opt_timestamp timestamp = NULL ,
	@stroptby nvarchar(50) = NULL
)
as
begin
	exec stp_D_clsdnlin
		@dc_code = @dc_code,
		@dn_no = @dn_no,
		@row_id = @row_id,
		@opt_timestamp = @opt_timestamp,
		@stroptby = stroptby

end
GO
