/****** Object:  StoredProcedure [dbo].[stp_D_clsRole02]    Script Date: 08/15/2011 10:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_D_clsRole02](
	@role_code nvarchar(10),
	@opt_timestamp timestamp = NULL ,
	@stroptby nvarchar(50) = NULL
)
as
begin
	exec stp_D_clsRole
		@role_code = @role_code,
		@opt_timestamp = @opt_timestamp,
		@stroptby = stroptby

end
GO
